VITE_SUPABASE_URL=https://kjliulgpipqqwptinrrd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqbGl1bGdwaXBxcXdwdGlucnJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NTEyMzcsImV4cCI6MjA5NjIyNzIzN30.EfWXhsJlfiG2rvdcPmJj0E9CF58a1bjb_3NnHmv0ElU
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqbGl1bGdwaXBxcXdwdGlucnJkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDY1MTIzNywiZXhwIjoyMDk2MjI3MjM3fQ.GOqrHTi3SehcGfjwc_ULYPIjomsbQVyMNA0shea1Lic
